
marquee {
    font-family: cnntravel,Palatino,Georgia,Times New Roman,serif;
    font-size: 50px; 
    background-image:url("bm.jpeg") ;
    background-position: center;
    color: white;
}


p.author {
    text-align: center;
    font-size: 25px;
}

strong.author-name {
    color: orange;
}

p.date {
    font-family: Metropolis,Helvetica,Verdana,sans-serif;
    text-align: center;
}

p.food-intro, p.ref-details, ol {
    font-family: Metropolis,Helvetica,Verdana,sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

p.ref-details {
    margin-left: 3rem;
}

p.personal {
    margin-left: 1;
}

a:link {
    color:orange;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color:orange;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color:orange;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color:orange;
    background-color: transparent;
    text-decoration: underline;
}

h2.food-ref {
    color: orange;
    font-size: 1.8rem;
    font-family: var(--mv-trellis-font-body,"Proxima Nova","Helvetica Neue",Arial,Helvetica,sans-serif);
    font-weight: 700;
    margin-left: 3rem;
}

ol {
    margin-left: 1.5rem;
    font-family: var(--mv-trellis-font-body,"Proxima Nova","Helvetica Neue",Arial,Helvetica,sans-serif);

}


p.Food-Title {
    font-size: 2.25rem;
    font-weight: 500;
    font-family: Metropolis,Helvetica,Verdana,sans-serif;
    margin-left: 2.5rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }